*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-image: url("../assets/images/backgrounds/colorful-shopping-bags.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
}

.main-container img{
    margin-bottom: 5px;
}

.box-container{
    display: flex;
    background-color: rgba(255, 255, 255, 0.2);
    /* border: 2px solid white; */
    width:fit-content;
    height: auto;
    padding: 20px;
    border-radius: 20px;
}

.box-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box-container form input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: lighter;
}

.box-container a{
    margin-bottom: 10px;
    /* margin-top: 10px; */
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.box-container button{
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px 106px;
    border-radius: 10px;
    font-size: 20px;
}

.box-container form input{
    border: none;
}

.box-container form input:focus{
    outline: none;
}

.box-container form button{
    border: none;
    cursor: pointer;
}