*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#body1{
    background-color: rgb(245, 245, 245);
    background-size: cover;
}

.main-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    margin-right: 200px;
    margin-left: 200px;
}

.main-container img{
    width: 400px;
}

.box-container{
    display: flex;
    align-items: center;
    background-color:rgb(255, 255, 255);
    box-shadow: 0 0 30px rgba(170, 170, 170, 0.7) ;
    width:fit-content;
    padding: 20px;
    border-radius: 15px;
}

.box-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-container form input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    font-size: 15px;
    font-weight: lighter;
    background-color: rgb(235, 235, 235);
}

.box-container a{
    margin-bottom: 10px;
    margin-top: 5px;
    text-decoration: none;
    color: rgb(59, 59, 59);
    font-weight:bold;
    font-size: 14px;
}

.box-container a:hover{
    text-decoration: underline;
}

.box-container button{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px;
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: black;
    color: white;
}

.box-container form input{
    border: none;
}

.box-container form input::placeholder{
    color: rgb(158, 158, 158);
}

.box-container form input:focus{
    outline: none;
}

.box-container form button{
    border: none;
    cursor: pointer;
}